# Creating a Data Frame of the Neighborhoods in Toronto based on the postalcodes and boroughs

Importing all the necessary libraries

In [1]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page
import pandas as pd # this module helps us create a Dataframe

Data will be scraping from wikipedia site for "List of postal codes of Canada: M"

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

Use get to download the contents of the webpage in text format and store in a variable called data

In [3]:
data  = requests.get(url).text

We create a postal_soup object using the BeautifulSoup constructor

In [4]:
postal_soup = BeautifulSoup(data,"html5lib")

create a list of dictionaries containing with keys of 'PostalCode','Borough', 'Neighborhood'

In [5]:
table_contents=[]
table=postal_soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

check length of the list

In [6]:
len(table_contents)

103

Create a Data frame form the list called table_contents

In [7]:
postal_df = pd.DataFrame(table_contents)
postal_df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

Check whether there are duplication of the postal codes

In [8]:
print(postal_df.shape)
print(postal_df['PostalCode'].unique().size)

(103, 3)
103

Seems no duplication in PostalCode Column. Check the values in Brough column.

In [9]:
postal_df['Borough'].unique()

array(['North York', 'Downtown Toronto', "Queen's Park", 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'East YorkEast Toronto', 'Central Toronto',
       'MississaugaCanada Post Gateway Processing Centre',
       'Downtown TorontoStn A PO Boxes25 The Esplanade',
       'EtobicokeNorthwest',
       'East TorontoBusiness reply mail Processing Centre969 Eastern'],
      dtype=object)

Seems some are to be corrected. Below cell we correct the values of Borough

In [10]:
postal_df['Borough']=postal_df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

View first 5 rows of the postal_df data frame

In [11]:
postal_df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [12]:
postal_df.shape

(103, 3)

##############################################################################################################################

# Adding Geo Coordinates of the Borough to the data frame

Create a Data frame form Geospatial_Coordinates.csv file

In [13]:
df = pd.read_csv('Geospatial_Coordinates.csv')

In [14]:
df.shape

(103, 3)

In [15]:
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Make the Postal Code column as index

In [16]:
df=df.set_index('Postal Code')
df.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

Get a copy of postal_df dataframe and make the PostalCode column as index of the new data frame

In [17]:
postal_df_1=postal_df.copy()
postal_df_1=postal_df_1.set_index('PostalCode')
postal_df_1.head()

                     Borough                      Neighborhood
PostalCode
M3A               North York                         Parkwoods
M4A               North York                  Victoria Village
M5A         Downtown Toronto         Regent Park, Harbourfront
M6A               North York  Lawrence Manor, Lawrence Heights
M7A             Queen's Park     Ontario Provincial Government

Inner Join two dataframe on keys

In [18]:
torontocity_data = postal_df_1.join(df)
torontocity_data.head()

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494

Reset the index of toronto_data data frame

In [19]:
torontocity_data.reset_index(inplace=True)
torontocity_data.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Queen's Park,Ontario Provincial Government,43.662301,-79.389494

In [20]:
torontocity_data.shape

(103, 5)